body {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-color: #fd9517;
     padding:5px;
     margin: 10px;
     text-align: justify;
     color: white;
 }
 
 .X {
     color: skyblue;
     font-size: 150px;
     height: 130px;
     text-decoration: none;
 }
 h2 { 
     padding-top:4px;
     font-size:30px;
     font-weight: bold;
     text-decoration: underline;
     color:white;
     font-family: 'Slabo 27px', serif;
 
 }
 .inputKeys button {
     background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
     width: 46px;
     height: 46px;
     margin: 2px;
     border-radius: 23px;
     font-size: 23px;
     border: none;
     outline: none;
     z-index: 0;
 }
 
 .inputKeys button:active {
     background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
 }
 .inputKeys {
     margin: 10px;
     border-radius: 23px;
 }
 
 .KeypadPosition {
     position: fixed;
     top: 10px;
     right: 10px;
     text-align: right;
     border-radius: 5px;
     outline: none;
     border: none;
     height: 25px;
     width: 162px;
     cursor: pointer;
     background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);;
 }
 
 .output {
     background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
     padding:8px;
     margin-top:2px;
     word-wrap: break-word;
     width: 85%;
     color: black;
     border-radius:6px;
     text-align: left;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     font-size: 20px;
     border-color: blue;
 }
 .Calculate {
     font-family: 'Courier New', Courier, monospace;
     border-radius: 5px;
     background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
     margin: 5px;
     padding:5px;
     border-color: black;
 }
 
 
  /* The side navigation menu */
 .firstNav {
     top: 5px; /* Stay at the top */
     left: 10px;
     overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 60px; /* Place content 60px from the top */
     transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 }
 .navDesign {
     background: #0f0c29;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     width: 0; /* 0 width - change this with JavaScript */
     position: fixed; /* Stay in place */
     z-index: 1; /* Stay on top */
     background-color: #111; /* Black*/
     border-radius: 10px;
 }
 
 .line-button hr { 
     width: 30px;
     border-top: solid 4px;
     color: grey;
     margin: 3px;
 }
 .line-button {
     position: fixed; /* Stay in place */
     top: 20; /* Stay at the top */
     left: 10px;
     border: none;
     background: none;
     outline: none;
 }
 
 /* The navigation menu links */
 .nav .list-item {
     padding: 8px 8px 8px 32px;
     padding-left: 0;
     text-align: left;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
 }
 
 /* When you mouse over the navigation links, change their color */
 .nav .list-item:hover {
     color: white;
     background-color: green;
     border-radius: 10px;
 }
 
 /* Position and style the close button (top right corner) */
 .nav .first-line-close-button {
     position: absolute;
     top: 15px;
     right: 25px;
     font-size: 36px;
     margin-left: 210px;
     outline: none;
 }
 
 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
     transition: margin-left .5s;
     padding: 20px;
 }
 
 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
 }
 
 footer label {
     font-family: 'Slabo 27px', serif;
     color: white;
 }
 footer button {
     font-family: 'Slabo 27px', serif;
     border-radius: 5px;
     background-color: skyblue;
     margin: 5px;
     padding:5px;
     border-color: black;
 }