#main {
    width: 100%;
    margin: 1em auto;
    max-width: 45em;
    background-color: var(--background-color);
    color: var(--color);
}

#inputContainer {
    display: block;
    width: 95%;
    max-width: 40em;
    min-width: 7em;
    margin: 2em auto;
}
@media (min-width: 50em) {
    #main {
        max-width: 50em;
    }
    
    #inputContainer {
        max-width: 50em;
    }
}
/**********************************************
    Equation Input
 ***********************************************/

#inputContainer-fieldset, #outputContainer-fieldset {
    border-radius: 0.5em;
    border: 0.1em solid gray;
    /* outline: 1px solid blue; */
    min-width: 0;
}
.inputContainer-header, .outputContainer-header {
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    border: 0.1em solid gray;
}
.equation_in_label {
    width: 100%;
    display: flex;
}
.delete_input {
    fill: gray;
    background: none;
    border: none;
    cursor: pointer;
}
.delete_input svg {
    fill: gray;
    width: 1em;
    height: 1em;
    cursor: pointer;
}
.equation_in, #add-input {
    box-sizing: border-box;
    flex: 1 1 auto;
    min-width: 0;
    border: none;
    background: none;
    color: var(--color);
    text-align: left;
    padding: 0.5em;
    border-bottom: 0.1em solid gray;
    font-size: large;
}
@media (min-width: 50em) {
    .equation_in, #add-input {
        padding: 0.5em;
    }
}
#add-input {
    color: gray;
    opacity: 0.5;
    cursor: cell;
}
.equation_in::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
    opacity: 0.5;
}
.equation_in::-moz-placeholder { /* Firefox 19+ */
    color: gray;
    opacity: 0.5;
}
.equation_in:-ms-input-placeholder { /* IE 10+ */
    color: gray;
    opacity: 0.5;
}
.equation_in:-moz-placeholder { /* Firefox 18- */
    color: gray;
    opacity: 0.5;
}
.equation_in:focus, .equation_in:active, #add-input:focus, #add-input:active {
    border-bottom: 0.1em solid var(--color);
}


/**********************************************
    Output
 ***********************************************/
#goToEvaluateBtn {
    box-sizing: border-box;
    display: block;
    width: 90%;
    min-width: 0;
    max-width: 20em;
    background-color: var(--background-color);
    color: var(--color);
    text-align: center;
    padding: 0.3em;
    border-color: gray;
    border-radius: 0.5em;
    cursor: pointer;
    margin: auto;
}
.output-results {
    display: block;
}


/**********************************************
    output Container
 ***********************************************/
#display-output-btn:checked ~ #outputContainer {
    display: block;
}
.outputContainer {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: none;
    animation: show 0.3s ease-in-out forwards;
}
@media (max-height: 18em) {
    #outputContainer {
        min-height: 100vh;
    }
}
#output {
    box-sizing: border-box;
    position: fixed;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    width: 100%;
    max-width: 25em;
    max-height: 60vh;
    background-color: var(--background-color);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding: 1em 1em 0 1em;
    overflow-y: auto;
}
#output::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
#output .output-results {
    display: block;
    margin: 1em;
    font-size: x-large;
}

/**********************************************
    Loader Container
 ***********************************************/
#loader-container {
    position: fixed;
    display: none;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1;
    cursor: progress;
}

/**********************************************
    extra classes
 ***********************************************/

.bringUP {
    animation: bringUP 300ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}
.bringDown {
    animation: bringDown 300ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}
.hide {
    animation: hide 200ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}
.show {
    animation: show 300ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}
@keyframes bringDown {
    from {
        transform: translateX(-50%) translateY(0%);
    }
    to {
        transform: translateX(-50%) translateY(100%);
    }
}
@keyframes bringUP {
    from {
        transform: translateX(-50%) translateY(100%);
    }
    to {
        transform: translateX(-50%) translateY(0%);
    }
}
@keyframes show {
    from {
        background: none;
        opacity: 0;
    }
    to {
        background-color: rgba(128, 128, 128, 0.4);
        opacity: 1;
    }
}
@keyframes hide {
    from {
        background-color: rgba(128, 128, 128, 0.4);
        opacity: 1;
    }
    to {
        background: none;
        opacity: 0;
    }
}